Docs
.vscode

lista de tarefas interativas
lista de tarefas interativas - 2.0
lista de tarefas interativas - 2.1
lista de tarefas interativas - 3.0
lista de tarefas interativas - 4.0

prompt.md
prompt_v5.0.md
